
//for iphone 6/7/8 screens
@media screen and (max-height: 667px) {
.cover{
    background-image: url(../img/bridge-middle.jpg);
    background-size:400px;  }

}
//for iphone 6/7/8 screens
@media screen and (max-height: 667px) {
.nextday{
background-image: url(../img/city-view.jpg);
background-size:800px;}

}



@media screen and (min-width: 40em) {
.cover{
  	background-image: url(../img/bridge-middle.jpg);
    background-size:cover;
    background-position: 70% 0%;
      .gradient{
     background: rgb(248,248,248);
background: linear-gradient(180deg, rgba(248,248,248,1) 0%, rgba(248,248,248,0) 100%);  }
 .top{
      padding:4em;
    button{
      font-weight:400;
      background-color: #f8f8f8;
    }}
  }
}



@media screen and (min-width: 400px) {
.today{
  	background-image: url(../img/bridge-side.jpg);
    background-size:cover;
}
}

@media screen and (min-width: 40em) {
.nextday{
background-image: url(../img/city-view.jpg);
background-size:cover;
background-position: top;
.days{
grid-gap: 1em;

}
.poem{
  margin:0;
  grid-column: 4 / span 3;
  justify-self:end;
  align-self:end;
  font-size:1.25rem;
  font-weight:100;
  grid-row:3;
  color:#FFF;
  text-align:right;

}
}
}


